/* Grid layout */
header {
    grid-area: header;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.input-group:last-child {
    margin-left: 2rem;
}

header label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

header input[type="date"] {
    border: 0;
    background-color: var(--navy-blue-bg);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 0.3rem;
    outline: 1.5px solid var(--white);
}
/* End - Grid layout */

/* Responsive design */
@media only screen and (max-width: 480px) {
    header {
        padding: 1rem;
    }
}
/* End - Responsive design */
