nav {
    background-color: var(--navy-blue-bg);
    width: 3.3rem;
    height: 100vh;
    position: fixed;
    z-index: 1;
    border-right: 1.5px solid var(--white);
    padding: 1rem calc((3.3rem - 24px) / 2);
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

nav.active {
    width: 16rem;
}

nav ul li {
    margin-bottom: 1.2rem;
}

nav.active ul li:first-child {
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    color: var(--white-3x);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav ul li a:hover,
nav ul li a:active {
    color: var(--white);
    transition: 0.2s ease-in-out;
}

nav ul li a i {
    font-size: 1.5rem;
    margin-right: 0.9rem;
}

nav ul li:first-child a i {
    margin-right: -0.3rem;
}
