.btn-wrapper {
    display: flex;
}

.btn {
    border: 0;
    width: 1.5rem;
    height: 1.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.btn-edit {
    background-color: var(--yellow);
    margin-right: 0.5rem;
}

.btn-edit:hover,
.btn-edit:active {
    background-color: var(--yellow-hover-active);
}

.btn-delete {
    background-color: var(--red);
}

.btn-delete:hover,
.btn-delete:active {
    background-color: var(--red-hover-active);
}
